<script id="storefront.digital-content-password-check-dialog.tpl" type="text/ng-template">
  <div class="ajaxify-modal is-visible lists-creationDialog-wrapper" id="ajaxifyModal">
    <div class="ajaxifyCart--content" id="ajaxifyCart">
      <div class="lists-creationDialog-closeButtonWrapper">
        <button class="lists-creationDialog-closeButtonClearFix ajaxifyCart--close" title="{{ 'cart.general.close_cart' | t }}" ng-click="close()">{{ 'cart.general.close_cart' | t }}</button>
        <h1 class="h2">Digital content</h1>
      </div>
            
      <div class="product-list-modal-wrapper">
        <div class="cart-row list-modal-row-fix">
          <div class="lists-creationDialog-inputWrapper grid-item text-left">
              <input type="hidden" ng-model="dialogData.passwordCheckError"/>
              <input type="hidden" ng-model="dialogData.digitalContent"/>
              <input type="hidden" ng-model="dialogData.pdf"/>
            <div ng-if="!dialogData.digitalContent">
              <input type="password" required="true" autocomplete="off" placeholder="Enter password"  ng-model="dialogData.password"/>
            </div>
            <div ng-if="dialogData.passwordCheckError">
                <span style="color:red">{% raw %}{{dialogData.passwordCheckError}}{% endraw %}</span>
            </div>
          </div>
        </div>

          <div ng-if="dialogData.digitalContent">
              <object data="{% raw %}{{dialogData.digitalContent}}{% endraw %}" type="application/pdf" width="100%" height="100%">
                  <p>
                      Your browser does not support PDFs.
                      <a href="{% raw %}{{dialogData.digitalContent}}{% endraw %}">Download the PDF</a>.
                  </p>
              </object>
          </div>
          
        <div class="product-list-modal-borders product-list-modal-borders">
          <div class="grid-item text-right">
            <button class="btn " ng-click="checkPassword()">
              <span >OK</span>
            </button>
            <button class="btn" >
              <span ng-click="close()">Cancel</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="ajaxifyCart-overlay"></div>
</script>
